@{
    ViewBag.Title = "Index";
}

<h2>Cheque Information</h2>
  <table>
        <tr>
            <th>
                 
            </th>
            <th>
                
            </th>
        </tr>
   </table>

    
