@{
    ViewBag.Title = "Index";
}

<h2>Cheque Information</h2>
  <table>
        <tr>
            <th>
                 <input type="button" value="Using REST Web Service" onclick="location.href='@Url.Action("RESTBilling", "Home")'" />
            </th>
            <th>
                <input type="button" value="Using SOAP Web Service" onclick="location.href='@Url.Action("SOAPBilling", "Home")'" />
            </th>
        </tr>
   </table>

    
