<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59525/RESTChequeService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
          contract="ChequeRESTService.IRESTChequeService" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>